  {% extends "encyclopedia/layout.html" %} {% block title %} Search {%endblock %}
  {% block body %}


  <div id="main" class="pure-u-1">
      <div class="email-content">
          <div class="email-content-header pure-g">
              <div class="pure-u-1-2">
                  <h1 class="email-content-title">Viewing results for '<em>{{ q }}</em>'</h1>
              </div>
          </div>

          {% for entry in entries %}
          <div class="email-content-body">
              <a href="{% url 'view_entry' entry %}">
                  <p>{{ entry }}</p>
              </a>
              {% empty %}
              <p>No Results</p>
          </div>
          {% endfor %}
      </div>
  </div>

  {% endblock %}